body{
font-family:Arial;
background:#f0f0f0;
padding:40px;
}
.cards{
display:flex;
gap:20px;
}
.card{
background:rgb(159, 231, 25);
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
width:200px;
}
canvas{
margin-top:40px;
max-width:700px;
}